<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Cadastro Vagas</title>
    <meta charset="UTF-8" />
  </head>

  <body>
  <h1>Formulário de Emprego</h1>
   
   <form action="#" th:action="@{/process}" th:object="${emprego}" method="post">
   	Título: <input type="text" th:field="*{titulo}">
   	<span th:if="${#fields.hasErrors('titulo')}"
   		  th:erros="*{titulo}"></span><br>
   	Empresa: <input type="text" th:field="*{empresa}">
   	<span th:if="${#fields.hasErrors('empresa')}"
   		  th:erros="empresa"></span><br>
   	Descricao: <textarea rows="3" th:field="*{descricao}"></textarea>
   	<span th:if="${#fields.hasErrors('descricao')}"
   		  th:erros="*{descricao}"></span><br>
   	<input type="submit" value="Enviar">
   </form>
  
  </body>

</html>